@font-face {
    font-family: 'Segoe UI';
    src: local('system-ui'), local('Segoe UI'), local('-apple-system'), local('BlinkMacSystemFont'), local('Inter'), local('Cantarell'), local('Ubuntu'), local('Roboto'), local('Open Sans'), local('Noto Sans'), local('Helvetica Neue'), local('sans-serif');
}

body {
    font-family: 'Segoe UI';
    font-size: 14px;
    background-color: #202020;
    color: #ffffff;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

#background-container {
    background-image: url(/assets/img/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(200%) blur(10px) hue-rotate(340deg);
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
}

#centered-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#profile-picture {
    background-image: url(/assets/img/about.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 110px;
    width: 220px;
    height: 220px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

#title {
    margin-top: 24px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    display: block;
}

#position {
    font-size: 16px;
    color: #6aadb2;
    text-align: center;
    display: block;
}

#media {
    margin-top: 60px;
    width: 320px;
    display: flex;
    justify-content: space-between;
}

.media_link {
    color: #ffffff;
    transition: all .083s ease-in-out;
}

.media_link:hover {
    transform: translateY(-2px);
    opacity: 1;
}